# ─── App ────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=/api
NEST_API_URL=http://localhost:3000/api/

# ─── Cloudinary ─────────────────────────────────────────
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=medikita
CLOUDINARY_API_KEY=cloud_api_key
CLOUDINARY_API_SECRET=cloud_api_secret
